<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">@theme {--color-clifford: #da373d;}</style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <div class="bg-zinc-950 h-[124px] flex-row justify-center items-center">
        <h1 class="text-white text font-(family-name:Outfit) font-bold text-[48px] text-left pl-[188px] pt-[25px]">PDF Converter</h1>
    </div>

    <div id="uploud-container" class="p-[188px] pt-[148px] ">
        <div class="bg-zinc-950 flex-grow justify-center content-center w-[1472px] h-[400px] rounded-[88px]">
            <div class="flex flex-row items-center justify-center gap-4 h-full">
                <form action="/convert" enctype="multipart/form-data" method="post">
                    <main class="flex flex-row items-center justify-center bg-zinc-950 font-sans rounded-[24px] w-[1472px] h-[400px]">
                    <label for="dropzone-file" class="w-[1472px] h-[400px] flex flex-row items-center justify-center gap-[20px] cursor-pointer flex-col items-center rounded-[24px] border-2 border-dashed border-blue-400  p-6 text-center">
                        <h1>Drop your file here</h1>
                        <h1>or</h1>
                        <h1>Upload a file</h1>
                    </label>
            </div>
        </div>
    </di>
    
</body>
</html>